<main class="main-container">

  <div class="card">
    <div class="card-img__container">
      <img class="card-img" src="{{env.url_base}}assets/images/image-equilibrium.jpg" alt="ethereum" width="285" height="285">
      <div class="container_eye">
        <img class="card-img-view" src="{{env.url_base}}assets/images/icon-view.svg" alt="eye" width="50" height="50">
      </div>
    </div>
    <div class="card-name">Equilibrium #3429</div>
    <div class="card-description">Our Equilibrium collection promotes balance and calm.</div>
    <div class="card-info__nft">
      <div class="card-info__value">
        <img src="{{env.url_base}}assets/images/icon-ethereum.svg" alt="icon-eth" width="12" height="20">
        <label class="info-value">0.041 ETH</label>
      </div>
      <div class="card-info__time">
        <img src="{{env.url_base}}assets/images/icon-clock.svg" alt="icon-clock" width="20" height="20">
        <label class="info-time">3 days left</label>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="card-footer">
      <div class="footer-container__img">
        <img class="footer__img" src="{{env.url_base}}assets/images/image-avatar.png" alt="person" width="40" height="40">
      </div>
      <p class="footer__description">Creation of <label class="footer__name">Jules Wyvern</label></p>
    </div>
  </div>

</main>
