@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);


  --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


body {
  font-family: 'Outfit', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
}

.main-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: hsl(217, 54%, 11%);
}

.card {
  height: 570px;
  width: 330px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);

}

.card-img__container {
  display: flex;
  justify-content: center;
  padding: 30px;
  position: relative;
}

.card-img__container:hover {
  cursor: pointer;

  .card-img, .card-img-view {
    opacity: 1;
  }

  .container_eye {
    opacity: 0.5;
    transition: background-color .2s linear;
    background-color: hsl(178, 100%, 50%);
  }
}

.card-img {
  border-radius: 10px;
  height: 285px;
  width: 285px;
}

.container_eye {
  position: absolute;
  border-radius: 10px;
  height: 285px;
  width: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-view {
  height: 50px;
  width: 50px;
  position: absolute;
  opacity: 0;
  align-items: center;
}

.card-name {
  padding: 0 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 20px;
}

.card-name:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.card-description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 30px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 16px;
}

.card-info__nft {
  height: 20px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  /* border-bottom: 1px solid salmon;*/
}

.card-info__value {
  display: flex;
  color: hsl(178, 100%, 50%);
}

.card-info__time {
  display: flex;
  color: hsl(215, 51%, 70%);
}

.info-value {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.info-time {
  font-size: 16px;
  margin-left: 5px;
  font-weight: 400;
}

.card-line {
  width: 280px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin: 20px auto;
}

.card-footer {
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.footer-container__img {

}

.footer__img {
  height: 40px;
  width: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 15px;
}

.footer__description {
  color: hsl(215, 51%, 70%);
}

.footer__name {
  color: hsl(0, 0%, 100%);
}

.footer__name:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
